body
{
    overflow-x: hidden;
}

.wrapper
{
    overflow-x: hidden; 
    overflow-y: hidden;
}

@font-face 
{
    font-family: Avenir;
    src: url(../fonts/Avenir.otf);
}

@font-face 
{
    font-family: Century_Gothic;
    src: url(../fonts/CenturyGothicRegular.ttf);
}

@font-face 
{
    font-family: Century_Gothic_Bold;
    src: url(../fonts/CenturyGothicBold.ttf);
}

.mobile-logo
{
    display: none;
}

.active
{
    color: #D3591C !important;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 105vh;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#indicators
{
   left: 95vw;
}

.Community_Conservation
{
    font-family: Century_Gothic_Bold;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #28422C;
    text-shadow: none;
    position: relative;
    top: 1.5vh;
}

.carousel-caption
{
    position: relative;
    top: -12vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.65);
}

.notification
{
    position: absolute;
    top: 150px;
    width: 100vw;
    height: 6vh;
    background-color: rgba(255,255,255,0.65);
    z-index: 999;
}

.notificationText
{
    font-family: Century_Gothic_Bold;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    color: #28422C;
    text-shadow: none;
    position: relative;
    top: 0.7vh;
    margin-top: 5px;
}

.notificationButton
{
    position: absolute !important;
    top: 12%;
    right: 5%;
}

#readMoreLandingPage
{
    text-align: center;
    position: relative;
    left: 0vw;
    top: 2vh;
    font-family: Century_Gothic;
    font-size: 25px;
}

.landingPageContactButton
{
    text-align: center;
    position: relative;
    left: 0vw;
    top: 2vh;
    font-family: Century_Gothic;
    font-size: 25px !important;
}

#CurrentProjectsButtons
{
    text-align: center;
    position: relative;
    top: 4vh;
    font-family: Century_Gothic;
    font-size: 25px;
}

.divider
{
    width: 100vw;
    margin-top: 80px;
}

.divider2
{
    width: 100vw;
    margin-top: -5px;
}

.divider3
{
    width: 100vw;
    margin-top: 0px;
}

.divider4
{
    width: 100vw;
    margin-top: 1px;
}


.text-block-gallery 
{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgba(40, 66, 44, 0.55);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.gallery-text
{
    color: white;
    text-align: left;
    font-size: 1.4vw;
}

.gallery-btn
{
    position: absolute !important;
    top: 85%;
    right: 5%;
}

#newProjectLanding
{
    width: 40vw;
    margin-left: 5vw;
}

#newProjectLanding2
{
    width: 40vw;
    margin-left: 5vw;
}

.left-20
{
    left: 20vw !important;
}

.contact-section
{
    background-color: #28422C !important;
    border: none !important;
}

#sabiTitleWhite
{
    color: white !important;
}

.contactText
{
    color: white !important;
    padding-left: 3%;
    padding-right: 3%;
}

.margin-top-5
{
    margin-top: 5vw;
}

.label
{
    font-family: Avenir !important;
    color: white !important;
    font-size: 1.2vw !important;
}

.revertedButton
{
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	background: #28422C;
	white-space: nowrap;
	display: inline-block;
    text-decoration: none;
    border: solid 1px #fff !important;
}

.revertedButton:hover
{
    color: #28422C !important;
    background: #fff;
    border: solid 1px #28422C !important;
}

.contactButton
{
    margin-left: 2vw;
}

.roundForm
{
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -khtml-border-radius: 3px !important;
    border-radius:3px !important;
}

.padding-2
{
    padding: 2vw;
}

.margin-2-top
{
    margin-top: 2vw;
}

.padding-5
{
    padding-right: 15vw;
    padding-left: 15vw;
}

#socialContainer
{
    position: relative;
    right: 8vw;
}

#socials
{
    position: relative;
    top: 10vh;
    text-align: right;
}

#footerPadding
{
    padding: 40px;
}

.footerText
{
    text-align: right;
}

.whoWeAreText
{
    color: black;
    font-size: 1vw;
}

.donateDetails
{
    background-color: rgba(255,255,255,0.7);
}

.smallDonate
{
    font-size: medium;
}

.donateText
{
    color: #28422C;
}

#feelingGenerousText
{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#donateButton
{
    text-align: center;
    font-family: Century_Gothic;
    font-size: 25px;
    line-height: 6vh;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.emailText
{
    font-size: 1.5vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.no-padding
{
    padding: 0 !important;
}

.Hiderow
{
    overflow-y: hidden;
}

#vertical-center-generous
{
    margin-top: 3vw;
}

#natGeoLogo
{
    float: right;
    position: relative;
    top: 12vh;
}

.overflowYShow
{
    overflow-y: visible !important;
}

#sabiEmail
{
    font-weight: 900;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    font-family: Century_Gothic;
    font-size: 17px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background-color:white; /* Black fallback color */
    background-color: white; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #28422C;
    font-family: Century_Gothic;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  
