body
{
    overflow-x: hidden;
}

.wrapper
{
    overflow-x: hidden;
}

@font-face 
{
    font-family: Avenir;
    src: url(../fonts/Avenir.otf);
}

@font-face 
{
    font-family: Century_Gothic;
    src: url(../fonts/CenturyGothicRegular.ttf);
}

@font-face 
{
    font-family: Century_Gothic_Bold;
    src: url(../fonts/CenturyGothicBold.ttf);
}

.mobile-logo
{
    display: none;
}

.active
{
    color: #D3591C !important;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100vh;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#indicators
{
   left: 95vw;
}

.Community_Conservation
{
    font-family: Century_Gothic_Bold;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #28422C;
    text-shadow: none;
    position: relative;
    top: 1.5vh;
}

.carousel-caption
{
    position: relative;
    top: -12vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.65);
}

#readMoreLandingPage
{
    text-align: center;
    position: relative;
    left: 0vw;
    top: 2vh;
    font-family: Century_Gothic;
    font-size: 25px;
}

.landingPageContactButton
{
    text-align: center;
    position: relative;
    left: 0vw;
    top: 2vh;
    font-family: Century_Gothic;
    font-size: 25px !important;
}

#CurrentProjectsButtons
{
    text-align: center;
    position: relative;
    top: 4vh;
    font-family: Century_Gothic;
    font-size: 25px;
}

.divider
{
    width: 100vw;
    margin-top: 80px;
}

.divider2
{
    width: 100vw;
    margin-top: -5px;
}

.divider3
{
    width: 100vw;
    margin-top: 0px;
}

.divider4
{
    width: 100vw;
    margin-top: 1px;
}


.text-block-gallery 
{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgba(40, 66, 44, 0.55);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.gallery-text
{
    color: white;
    text-align: left;
    font-size: 1.4vw;
}

.gallery-btn
{
    position: absolute !important;
    top: 85%;
    right: 5%;
}

#newProjectLanding
{
    width: 40vw;
    margin-left: 5vw;
}

#newProjectLanding2
{
    width: 40vw;
    margin-left: 5vw;
}

.left-20
{
    left: 20vw !important;
}

.contact-section
{
    background-color: #28422C !important;
    border: none !important;
}

#sabiTitleWhite
{
    color: white !important;
}

.contactText
{
    color: white !important;
}

.margin-top-5
{
    margin-top: 5vw;
}

.label
{
    font-family: Avenir !important;
    color: white !important;
    font-size: 1.2vw !important;
}

.revertedButton
{
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	background: #28422C;
	white-space: nowrap;
	display: inline-block;
    text-decoration: none;
    border: solid 1px #fff !important;
}

.revertedButton:hover
{
    color: #28422C !important;
    background: #fff;
    border: solid 1px #28422C !important;
}

.contactButton
{
    margin-left: 2vw;
}

.roundForm
{
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -khtml-border-radius: 3px !important;
    border-radius:3px !important;
}

.padding-2
{
    padding: 2vw;
}

.margin-2-top
{
    margin-top: 2vw;
}

.padding-5
{
    padding-right: 15vw;
    padding-left: 15vw;
}

#socials
{
    position: relative;
    top: 14vh;
    text-align: right;
}

.footerText
{
    text-align: right;
}

.whoWeAreText
{
    color: black;
    font-size: 1vw;
}

.donateDetails
{
    background-color: rgba(255,255,255,0.7);
}

.smallDonate
{
    font-size: medium;
}

.donateText
{
    color: #28422C;
}

#feelingGenerousText
{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#donateButton
{
    text-align: center;
    font-family: Century_Gothic;
    font-size: 25px;
    line-height: 6vh;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.no-padding
{
    padding: 0 !important;
}
.row
{
    overflow-y: hidden;
}

#vertical-center-generous
{
    margin-top: 3vw;
}

#natGeoLogo
{
    float: right;
    position: relative;
    top: 12vh;
}

.overflowYShow
{
    overflow-y: visible !important;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background-color:white; /* Black fallback color */
    background-color: white; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #28422C;
    font-family: Century_Gothic;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


@media (min-width: 768px) and (max-width: 1024px) 
{
    #readMoreLandingPage
    {
        left: 0;
    }

    .left-20
    {
        left: 19vw !important;
    }

    #newProjectsImage
    {
        position: relative;
        top: 8vh;
    }

    .responsiveButtonNewProjectIndex
    {
        right: 2vw !important;
    }

    .noMarginBottomTablet
    {
        margin-bottom: 0;
    }

    .gallery-btn
    {
        top: 72%;
        right: 0%;
    }

    .gallery-text
    {
        font-size: 2vw;
        line-height: 2vh;
        padding-bottom: 4vh;
    }

    .divider2
    {
        margin-top: -15px;
    }

    .divider3
    {
        margin-top: 10px;
    }

        
    .landingPageContactButton
    {
        top: 0 !important;
        bottom: 50px;
        left: 1vw !important;
    }

    .sabisabiLogoFooter
    {
        width: 450px;
        height: auto;
    }

    #socials
    {
        top: 2vh;
    }

    #responsiveNavBarLogo
    {
        position: relative;
        top: 25vh;
        left: 10vw;
    }

    .whoWeAreText
    {
        font-size: 2.5vw;
    }

    .whoWeAreTextResponsive
    {
        font-size: 2vw !important;
    }

    #sabiTitle
    {
        margin-bottom: 5vh;
    }

    .currentProjectsDividerResp
    {
        margin-top: 15px;
    }

    #donateButton
    {
        left: 16vw !important;
        bottom: 1vh;
    }

    #donateImage
    {
        position: relative;
        top: 12vh;
        left: 3vw;
    }

    .label
    {
        font-size: 20px !important;
    }

    .carousel-caption
    {
        top: -25vh;
    }

    .Community_Conservation
    {
        font-size: 50px;
    }

}


@media (min-width: 700px) and (max-width: 768px) 
{
    #newProjectLanding
    {
        width: 70vw;
        margin-left: 12vw;
        margin-top: 13vh;
    }

    #newProjectLanding2
    {
        width: 70vw;
        margin-left: 12vw;
        margin-top: 3vh;
    }
    
    .landingPageContactButton
    {
        top: 0 !important;
        left: 1.5vw !important;
    }

    #readMoreLandingPage
    {
        left: 37vw !important;
    }

    #socials
    {
        top: 0;
    }

    #responsiveNavBarLogo
    {
        position: relative;
        top: 25vh;
        left: 0vw;
    }

    #donateButton
    {
        left: 37vw !important;
        bottom: 2vh;
    }
    
    #donateImage {
        top: 0;
        left: 0;
    }

    #LogoContact
    {
        position: relative;
        right: 6vw;
    }

    .label
    {
        font-size: 2.5vw !important;
    }

}

@media (min-width: 280px) and (max-width: 699px) 
{
    #indicators 
    {
        left: 90vw;
    }

    .header-v6 .navbar-toggle .icon-bar
    {
        height: 3px;
        width: 6vw;
        background: #555;
        margin-top: 4px;
    }

    .header-v6 .navbar-brand img 
    {
        max-width: 90%;
        position: relative;
        right: 10vw;
        bottom: 15vh;
    }

    .navbar-brand {
        height: 0px !important;
    }

    .mobile-logo
    {
        display: block;
        position: relative;
        height: 10vh;
        width: auto;
        top: 4vh;
    }
    #responsiveNavBarLogo
    {
        position: relative;
        top: 20vh;
    }

    .overlay-content {
        top: 15%; 
        width: 100%; 
        margin-top: 50px;
      }

      .carousel-caption
      {
          top: -30vh;
      }

      h1
      {
          font-size: 50px;
          line-height: 1.1;
      }

      .left-align-mobile
      {
          text-align: left;
      }

      .gallery-text
      {
          font-size: 5vw;
          line-height: 8vw;
      }

      .gallery-btn 
      {
        top: 80%;
        right: 1%;
      }

      .noMarginBottomTablet
      {
        margin-bottom: 0;
      }

     .divider2 
    {
        width: 100vw;
        height: 2vh;
        margin-top: -20px;
    }

    .divider
    {
        width: 100vw;
        height: 1.5vh;
        margin-top: 80px;
    }

    .divider3 
    {
        width: 100vw;
        margin-top: 20px;
        height: 1.5vh;
    }

    #newProjectLanding
    {
        width: 80vw;
        margin-left: 0;
        margin-top: 5vh;
    }

    
    #newProjectLanding2
    {
        width: 80vw;
        margin-left: 0;
    }

    .label 
    {
        font-size: 5vw !important;
    }

    .sabisabiLogoFooter
    {
        width: 100vw;
        height: auto;
    }

    #natGeoLogo
    {
        position: relative;
        top: 30vh;
        width: 45vw;
        height: auto;
        right: 25vw;

    }

    #socials
    {
        top: 15vw;
        text-align: center;
        margin-top: 10vh;
    }

    .footerText {
        text-align: center;
    }

    .whoWeAreText
    {
        font-size: 5vw;
    }

    .whoWeAreTextResponsive
    {
        font-size: 12px;
    }
    
    #CurrentProjectsButtons {
        text-align: center;
        width: 30vw;
        position: relative;
        top: 4vh;
        font-family: Century_Gothic;
        font-size: 10px;
    }

    .currentProjectsDividerResp
    {
        margin-top: 10vh;
    }

    .sabiTitleMobile
    {
        font-size: 15px !important;
    }

    .padding-5
    {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    #donateButton
    {
        margin-left: 6vw;
    }

    .divider4 
    {
        width: 100vw;
        height: 1.5vh;
        margin-top: 5vh;
    }

    #logoContactMobile
    {
        position: relative;
        right: 2vw;
        width: 350px;
        height: auto;
    }
}